<nav class="navbar-wagon">
  <div class="container navbar-wagon-container">

  <%= link_to "La Cuillère", root_path, class: "logo" %>

    <div class="navbar-wagon-pusher"></div>

    <form action="" class="navbar-wagon-search hidden-xs hidden-sm">
      <input type="text" class="navbar-wagon-search-input" placeholder="Search something">
      <button type="submit" class="navbar-wagon-search-btn">
        <i class="fa fa-search"></i>
      </button>
    </form>
    <%= link_to "New restaurant", new_restaurant_path, class: "navbar-wagon-item navbar-wagon-button btn" %>
  </div>
</nav>
