@import "utilities";
@import "footer";
@import "navbar";
@import "list";

html {
  background: linear-gradient(200deg, rgba(0,0,0,0.2),rgba(0,0,0,0.9)), url("background.jpg");
  background-size: cover;
  background-attachment: fixed;
}

body {
  height: 100vh;
  background: transparent;
}

.container {
  color: white;
}

h1 {
  padding: 40px;
}

h3 {
  font-size: 18px;
  font-weight: normal;
}
