.back {
  color: white;
  background: #703232;
  text-decoration: none;
  border-radius: 50px;
  padding: 10px 30px;
  margin: 30px;
}

.back:hover {
  background: #701E1E;
  color: #E5E5E5;
  text-decoration: none;
}
